
@import './variables.scss';
@import './music.scss';
@import './navbar.scss';


html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: $font-family-base;
  line-height: 1.375; /* ~22px */
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Body resets and fancy font*/
body{
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}