
/*
 *Colors
 */

$blue         : #e9f0f5;
$arev         :#ccc;
$arev-dark    :#89949B;
$red          :#EA7882;

$max-content-width : 80%;
/*
 *Typography
 */

$font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
